@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");

:root {
	--left-width: 35vw;
	--right-width: calc(100vw - var(--left-width));
	--height: 100vh;
	--lateral-margin: 0vw;
    --text-size: 1.15vw;
	font-family: "Playfair Display SC", serif;
}

body {
	display: flex;
	margin: 0 var(--lateral-margin) 0;
	padding: 0;
	border: 0;
	background-color: white;
}

.left-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #15304b;
	height: var(--height);
}

.logo {
	color: white;
	text-decoration: underline;
	font-size: 5vw;
	margin-top: 10vh;
	text-align: center;
}

.zeus-image {
	width: var(--left-width);
	height: auto;
}

.right-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: bisque;
	width: var(--right-width);
	height: var(--height);
	padding-left: 5vw;
	padding-right: 5vw;
}

.introduction {
	font-size: var(--text-size);
}



fieldset {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5vw;
}

form {
    font-size: var(--text-size);
}

legend {
	background-color: #15304b;
	color: #fff;
	padding: 3px 6px;
}

input {
	font-size: var(--text-size);
}

.names {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #335b75;
    color: white;
    font-weight: 900;
    font-size: var(--text-size);
}